@font-face {
font-family: "glitter";
src: url("glit.ttf");
}

* {
margin: 0px;
padding: 0px;
}
body {
  background-color:  #E7E5EA;
  margin: 0;
}
#headcont{
  display: flex;
  justify-content: center;
  padding:25px 0;
  position: fixed;
  z-index: 5;
  background-color:rgba(231, 229, 234,.5);

  ]
}
header{
  background-image: url('meee.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 800px;
  margin-top: 0;

}
ul{
  width: 550px;
justify-content: center;

}
.icon{
  padding-right: 10px;
  width: 5%;
  height: auto;
}
#logo{
  position: relative;
  top:100px !important;
  z-index: 0;
  margin-top: 0;
  left:50%;
}
span{
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
}
.list1 {
  display: inline;
  padding:20px;
  font-size: 30px;
  text-align: center;
  color: #7F7B7C;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-right: 5%;
}
.list1:hover{
  background-color: #7F7B7C;
  color: #D6D4E1;
  border-radius: 40px;
}
#aboutp{
  color: #8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  padding: 40px;
}
.containerabout{
  width:75%;
  margin: 0 auto;
  box-shadow: 5px 10px 18px gray;
  background-color:  #D3BDBB;
  border-radius: 15px;
}
.about {

  padding-bottom: 30px;
  padding-top: 50px;
}
#resPush{
  padding-left: 10%;
}
img#resume{
  display: block;
  border-radius: 50px;
}

.container{
  padding-left: 20%;

}
.resumeCont{
  display: flex;
  justify-content: center;
  padding: 10%;
  /* margin: 10% 0; */
}
.projectimg {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px gray;
  margin: 1%;
  border: 5px solid  #D0BEBC;
}

.projects{
  padding: 5px;
}
input{
  display: flex;
  flex-direction: column;
  width:300px;
  height: 25px;
  margin:0 20px 20px 0px;
  background-color: #FEFDF7;
  border: 0px;
  color: #8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
textarea{
  width: 300px;
  height:100px;
  border: 0px;
  background-color: #FEFDF7;
  color:#8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
textarea:focus{
  outline: 3px solid #BCB7BE;

}
input:focus{
  outline: 3px solid #BCB7BE;
}
button:focus{
  outline: 3px solid #BCB7BE;
}
button{
  width: 300px;
  height: 30px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 3px;
  border-color: #FEFDF7;
  background-color: #FEFDF7;
  color: #8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
#workright{
  width:700px;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.contact{
  background-color: #E7E5EA;
}
.resume{
  background-color: #D3BDBB;
}
.contactcon{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
h6{
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #7E7B7C;
  border: 3px solid #7E7B7C;
  width: auto;
  padding: 40px;
  margin: 0;
  background-image: url('https://i.imgur.com/6jDHPnL.png');
}

form{
  margin: 0;
}
h7 {
  font-size: 30px;
  color:#7E7B7C;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;

}
h8{
  padding-top: 5px;
  font-size: 15px;
  color:#7E7B7C;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
p{
  font-size: 20px;
  color:#7E7B7C;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 5%;
}
a{
  text-decoration: none;
  color: #7E7B7C;
  font-family: 'Open Sans Condensed', sans-serif;

}
.popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);


}
.link{
  padding: 10%;

}
.modalcont{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.github{
  margin: auto 0;

  width: 50%;

}
.modal{
  width: 300px;
  height:300px;
}
/* Inner */
.popup-inner {
  max-width:700px;
  max-height: 700px;
  width:90%;
  padding:5%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
  margin: 0 auto;
  text-align: center;
}
/* Close Button */
.popup-close {
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
}
.popup-close:hover {
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}
.list2{
  font-size: 20px;
  color:#7E7B7C;
  font-family: 'Open Sans Condensed', sans-serif;

}

ul#list2{
  list-style-type: none;
  padding-left: 0px;
  width: 300px;
}
footer{
  padding-top: 10%;
}
.first{
  border: 3px solid #D3BDBB;
}
.iconcont{
  display: flex;
  justify-content: space-between;
  flex-direction:

}

#icons{
  padding:0 2%;
}
#footer{
text-align: center;
}
h2{
  font-family: glitter;
  text-align: center;
  font-size: 100px;
  color: #B5ACAB;
  padding-top:15%;
}
a.circle{
  display: block;
  text-align: center;

}
h5{
  font-family: "Open Sans Condensed";
  text-align: center;
  font-size: 20px;
  color: #B5ACAB;
}
.contact{
  width:30%;

}
.non{
  margin-top: 20%;
}
h4{
  font-size: 20px;
}
img.spin{
  margin: 20%;
   transition:.8s ease-in-out;
}
img.spin:hover{
  transform: rotate(360deg);
}
#contact{
  display: flex;
  width: 100%;
  justify-content: center ;
}
