body {
  background-color:  #E7E5EA;
  margin: 0;
}
header{
  background-image: url('https://i.imgur.com/J88H1jA.jpg');
  background-position: center;
  background-size: cover;
  width: auto;
  height: 700px;
  padding: 20px 0;
}
#name{
  float: left;
  font-size: 50px;
  font-family: 'Sacramento', cursive;
  background-color: #7F7B7C;
  color: #D6D4E1;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}

span{
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.box{
  padding: 0 10px;
  height: 30%;
  width:40%;
  position: relative;
  top: 35%;
  left: 53%;
}

.quote{
  border: 3px solid white;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  padding: 20px 50px;
  font-size: 40px;
  text-shadow:  0 0 30px #000000;
}
ul {
  background-color:  #D6D4E1;
  width: auto;
  height: 60px;
  margin: 0;
  position: fixed;
  top:0;
  width: 100%;
}
li {
  display: inline;
  float: right;
  padding:10px;
  font-size: 30px;
  text-align: center;
  color: #7F7B7C;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-right: 5%;
}
li:hover{
  background-color: #7F7B7C;
  color: #D6D4E1;
}
#aboutp{
  color: #8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 40px;
}
.containerabout{
  width:75%;
  margin: 0 auto;
  box-shadow: 5px 10px 18px gray;
  background-color:  #D3BDBB;
  border-radius: 15px;
}
.about {
  background-color: #B7ACAB;
  padding-bottom: 30px;
  padding-top: 50px;
}
#resPush{
  padding-left: 10%;
}
img#resume{
  display: block;
  border-radius: 50px;
}
#work{
  display: flex;
  justify-content: center;
}
h5{
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #7E7B7C;
  border: 3px solid #7E7B7C;
  width: auto;
  height: 20%;
  padding: 40px;
    background-image: url('https://i.imgur.com/6jDHPnL.png');
}
h4{
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #7E7B7C;
  border: 3px solid #7E7B7C;
  width: auto;
  padding: 40px;
    background-image: url('https://i.imgur.com/6jDHPnL.png');
}
h3 {
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  margin:0 auto;
  color: #7E7B7C;
  border: 3px solid #7E7B7C;
  width: 220px;
  padding: 1%;
  background-image: url('https://i.imgur.com/6jDHPnL.png');
}
.container{
  padding-left: 20%;

}
.resumeCont{
  display: flex;
  justify-content: center;
  padding: 10%;
  /* margin: 10% 0; */
}
.projectimg {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px gray;
  margin: 1%;
  border: 5px solid  #D0BEBC;
}

.projects{
  padding: 5px;
}
input{
  display: flex;
  flex-direction: column;
  width:300px;
  height: 25px;
  margin:0 20px 20px 0px;
  background-color: #FEFDF7;
  border: 0px;
  color: #8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
textarea{
  width: 300px;
  height:100px;
  border: 0px;
  background-color: #FEFDF7;
  color:#8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
textarea:focus{
  outline: 3px solid #BCB7BE;

}
input:focus{
  outline: 3px solid #BCB7BE;
}
button:focus{
  outline: 3px solid #BCB7BE;
}
button{
  width: 300px;
  height: 30px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 3px;
  border-color: #FEFDF7;
  background-color: #FEFDF7;
  color: #8A8685;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
#workright{
  width: 500px;
  height: auto;
  padding-left: 15%;
   padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}
.work{
  background-color:  #D8D1DC;
}
.contact{
  background-color: #E7E5EA;
}
.resume{
  background-color: #D3BDBB;
}
.contactcon{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
h6{
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #7E7B7C;
  border: 3px solid #7E7B7C;
  width: auto;
  padding: 40px;
  margin: 0;
  background-image: url('https://i.imgur.com/6jDHPnL.png');
}

form{
  margin: 0;
}
